<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/13_G/2024_12_04/public/style.css">
    <title>Ingatlanok</title>
</head>
<body>
    <ul class="navbar">
        <li><a href="/13_G/2024_12_04/feladas">Hirdetés feladása</a></li>
        <li><a href="/13_G/2024_12_04/torles">Hirdetés törlése</a></li>
    </ul>
    <h1>Hírdetések</h1>
    <table>
        <thead>
            <tr>
                <th>Azonosító</th>
                <th>Kategória</th>
                <th>Leírás</th>
                <th>Hirdetés dátuma</th>
                <th>Tehermentes</th>
                <th>Ár</th>
                <th>Kép</th>
            </tr>
        </thead>
        <tbody id="ingatlanok">
            <!--ide tesszük az ingatlanok adatait-->
        </tbody>
    </table>

    
   
    <script src="/13_G/2024_12_04/public/js/ingatlanok.js"></script>
</body>
</html>