<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/13_G/2024_12_04/public/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hirdetés törlése</h1>
    <form id="torolForm">
        <label for="id">Azonosító</label>
        <input type="text" name="id" id="id">
        <button type="submit">Törlés</button>
    </form>
    <script src="/13_G/2024_12_04/public/js/torol.js"></script>
</body>
</html>